# data
circle_parameters*.pkl
trajnet/

# Python
venv*/
*.egg-info/
.pytest_cache/
__pycache__/
dist/
.ipynb_checkpoints/

# editors
.vscode/

# OS
.DS_Store

# data
docs/simulator.prof
docs/simulator_flame.svg
