astroid==2.0.4
atomicwrites==1.2.1
attrs==18.2.0
cycler==0.10.0
isort==4.3.4
itermplot==0.331
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==3.0.2
mccabe==0.6.1
more-itertools==4.3.0
numpy==1.15.3
pluggy==0.11.0
py==1.10.0
pylint==2.1.1
pyparsing==2.2.2
pytest==4.4.2
python-dateutil==2.7.4
scipy==1.1.0
six==1.11.0
-e git+/Users/svenkreiss/Dropbox/git/socialforce.git@e2c427506c3d2cc90f1841a8ae6bbf03e25c870e#egg=socialforce
torch==0.4.1
-e git+/Users/svenkreiss/Dropbox/git/trajnettools.git@5d01b1c60e705b5bdb84468256e1556226f9161b#egg=trajnettools
wrapt==1.10.11
